.header-top{
    background-color: var(--P_1);
    div{
        div{
            display: flex;
            align-items: center;
        }
        div:nth-child(6) a{
            padding: 16px 29px;
            background-color: var(--D1_1);
            margin: 30px 0px 30px 0;
            border-radius: 7px;
        }
        div:nth-child(6) a:hover{
            background-color: var(--P_2);
        }
        div:nth-child(7) a{
            padding: 16px 25px;
            background-color: var(--D1_1);
            margin: 30px 0 30px 0px;
            border-radius: 7px;
        }
        div:nth-child(7) a:hover{
            background-color: var(--P_2);
        }
    }
    a{
        font-family: 'PoppinsSB';
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
    }
}

.header-center{
    background-image: url(../imeges/bg-city.png);
    background-repeat: no-repeat;
    background-size:  100% 90%;
    h1{
        font-size: 45px;
        font-weight: bold;
        color: var(--D2_4);
        margin: 147px 0 0 0;
        span{
            color: var(--P_1);
        }
    }
    hr{
        width: 72%;
        margin: 8px auto 8px 0;
    }
    p{
        font-family: 'PoppinsR';
        font-size: 20px;
        margin-bottom: 29px;
    }
    a{
        font-family: 'PoppinsSB';
        font-size: 14px;
        padding: 20px 50px;
        color: var(--L2_2);
        background-color: var(--P_2);
        text-transform: uppercase;
        border-radius: 4px;
    }


    img{
        margin-top: 104px;
    }

    .bgc-color-header{
        .continue{
            background-color: var(--P_1);
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            position: relative;
            bottom: 17px;
            div{
                position: relative;
                top: 28px;
                label{
                    font-family: 'PoppinsM';
                    font-size: 14px;
                    color: #fff;
                    margin-top: 30px;
                }
                select{
                    height: 50px;
                    width: 200px;
                    border: 0;
                    border-radius: 4px;
                    color: var(--P_4);
                    font-size: 14px;
                    margin-bottom: 65px;
                }
    
                a{
                    padding: 15px 70px;
                    border-radius: 4px;
                    font-size: 14px;
                    background-color: var(--D1_1);
                    position: relative;
                    bottom: 20px;
                }
            }
        }
    }
    
}

///////////////////////////////main//////////////////

.welcome{
    div{
        div{
            div{
                img{
                    margin-top: 28px;
                    margin-bottom: 100px;
                }
            }
        }
    }
}

.our{
    background-image: url(../imeges/Vector-Smart-Object-copy-7.png);
    background-repeat: no-repeat;
    h2{
        text-align: center;
        color: #fff;
        font-size: 33px;
        font-family: 'PoppinsM';
        padding-top: 40px;
        padding-bottom: 35px;
    }
    .cub{
        background-color: #fff;
        text-align: center;
        img{
          margin-top: 38px;  
        }
        h4{
            color: var(--D3_4);
            font-family: 'PoppinsM';
            font-size: 17px;
        }
        p{
            margin: 17px 45px 0px 45px;
            padding-bottom: 50px;
        }
    }
    .roro{
        display: flex;
        justify-content: center;
        padding: 74px 0 107px 0;
        div{
            a{
                padding: 20px 88px;
                color: #fff;
                background-color: var(--D1_1);
                font-family: 'PoppinsM';
                font-size: 14px;
                margin: 54px auto 90px auto;
                border-radius: 5px;
            }
            a:hover{
                background-color: var(--P_2);
            }
        }
        
    }
    
}

.hot-it-works{
    h2{
        text-align: center;
        font-size: 33px;
        font-family: 'PoppinsM';
        padding-top: 40px;
        padding-bottom: 35px; 
    }
    .flex-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        img .size{
            height: 65px;
            width: 60px;
        }
        p{
            text-align: center;
            font-family: 'PoppinsR';
            font-size: 13px;

        }
       

        
    }
   

}


.discounts{
    background-image: url(../imeges/rocket.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    h2{
        font-family: 'PoppinsM';
        font-size: 33px;
        color: #fff;
        text-align: center;
        font-weight: normal;
        padding: 90px 0 40px 0;
        margin: 0;
    }
    p{
        font-family: 'PoppinsR';
        font-size: 18px;
        color: #fff;
        padding: 0;
        margin: 0 0 82px 0;
        text-align: center;
    }

    .bloks_in_bloks{
        box-shadow: 0px 4px 30px 0px rgba(202, 202, 202, 0.55);
        .bg-bloks{
            background-color: #fff;
            text-align: center;
            width: 29%;
            
            span{
                font-family: 'PoppinsR';
                font-size: 35px;
                color: var(--P_2);
                font-weight: 800;
                padding: 0;
                margin: 0;
            }
            p{
                font-family: 'PoppinsR';
                font-size: 15px; 
                color: var(--D1_4); 
                font-weight: bold;
                padding: 0;
                margin: 0;
            }
            h5{
                font-family: 'PoppinsSB';
                font-size: 17px;
                color: var(--D1_1);
                padding: 0;
                margin: 0;
            }
            .bloks{
                margin-top: 75px;
            }
            .bord-r{
                border-right: 2px solid #e1e1e7;
            }
            .bord-r-1{
                border-right: 2px solid #e1e1e7;
                padding-top: 75px;
                margin-top: 0px;
            }


        }
        .bg-bloks-blue{
            background-color: var(--P_1);
            text-align: center;
            .botder-line{
                border: dashed var(--D1_1) 3px;
                border-radius: 30px;
                margin: 25px 15px;
                position: relative;
                h3{
                    font-family: 'PoppinsSB';font-size: 25px;
                    color: #fff;
                    text-transform: uppercase;
                }
                .larger{
                    width: 365px;
                }
                p{
                    font-family: 'OpenSansI';
                    font-size: 19px;
                    margin: 50px 0 40px;
                }
                .balloon{
                    width: 130px;
                    position: absolute;
                    bottom: -7px;
                    left: 350px;
                }
            }
        }
    }
}

.testimonials{
    text-align: center;
    .function{
        h2{
            font-family: 'PoppinsM';
            font-size: 33px;
            color: var(--D2_4);
            margin: 80px 0 50px;
        }
        p{
            font-family: 'PoppinsL'; 
            font-size: 15px;
            margin: 20px 0 25px;
        }
        h5{
            font-family: 'PoppinsSB';
            font-size: 17px;
            color: var(--D1_1);
            margin: 0 0 15px;
        }
        span{
            font-family: 'PoppinsL';
            font-size: 13px;
            color: var(--L1_4);
            padding-bottom: 70px;
        }
    }
    .function::before{
        content: "";
        width: 60px;
        height: 60px;
        border-top: 3px solid var(--P_1);
        border-right: 3px solid var(--P_1);
        margin-right: 60px;
        transform: rotate(225deg);
        position: relative;
        top: 215px;
        left: -35px;
    }
    .function::after{
        content: "";
        width: 60px;
        height: 60px;
        border-top: 3px solid var(--P_1);
        border-right: 3px solid var(--P_1);
        margin-right: 60px;
        transform: rotate(45deg);
        position: relative;
        bottom: 248px;
        right: -820px;
    }

}

////////////////////////////// footer

footer{
    .footer{
        background-color: var(--P_1);
        hr{
            border:1px solid #81d4fa;
            margin: 0;
            padding: 0;
        }
        .top{
            div{
                height: 108px;
                display: flex;
                align-items: center;
                padding-left: 3%;
                
            }
            div:nth-child(1){
                padding-left: 0%; 
            }
            img{
                padding: 20px 0 20px 0;
            }
            a{
                font-family: 'PoppinsSB';
                font-size: 12px;
                text-transform: uppercase;
                color: #fff;
                text-align: right;  
            }  
        }
        .main{
            h5{
                padding: 50px 0 33px;
                margin: 0;
                font-family: 'PoppinsM';
                font-size: 17px;
                color: #ddf4fe;
            }
            ul{
                margin-bottom: 40px;
                li{
                    list-style-type: none;
                    font-family: 'PoppinsR';
                    font-size: 13px;
                    color: #ddf4fe;
                    padding-bottom: 15px;
                }
            }
        }
        .bottom{
            div:nth-child(1){
                p{
                    color: #fff;
                    padding: 35px 0;
                }
            }
            div:nth-child(2){
                display: flex;
                align-items: center;
                img{
                    width: 220px;
                }
            }
            div:nth-child(3){
                display: flex;
                align-items: center;
                
                p{
                    color: #fff;
                    font-family: 'PoppinsM';
                    font-size: 14px;
                    padding-left: 10px;
                    a{
                        font-family: 'PoppinsR';
                        font-size: 17px;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
            div:nth-child(4){
                display: flex;
                align-items: center;
                p{
                    color: #fff;
                    font-family: 'PoppinsM';
                    font-size: 14px;
                    padding-left: 10px;
                    a{
                        font-family: 'PoppinsR';
                        font-size: 17px;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}