.header-top {
  background-color: var(--P_1);
}

.header-top div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top div div:nth-child(6) a {
  padding: 16px 29px;
  background-color: var(--D1_1);
  margin: 30px 0px 30px 0;
  border-radius: 7px;
}

.header-top div div:nth-child(6) a:hover {
  background-color: var(--P_2);
}

.header-top div div:nth-child(7) a {
  padding: 16px 25px;
  background-color: var(--D1_1);
  margin: 30px 0 30px 0px;
  border-radius: 7px;
}

.header-top div div:nth-child(7) a:hover {
  background-color: var(--P_2);
}

.header-top a {
  font-family: 'PoppinsSB';
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

.header-center {
  background-image: url(../imeges/bg-city.png);
  background-repeat: no-repeat;
  background-size: 100% 90%;
}

.header-center h1 {
  font-size: 45px;
  font-weight: bold;
  color: var(--D2_4);
  margin: 147px 0 0 0;
}

.header-center h1 span {
  color: var(--P_1);
}

.header-center hr {
  width: 72%;
  margin: 8px auto 8px 0;
}

.header-center p {
  font-family: 'PoppinsR';
  font-size: 20px;
  margin-bottom: 29px;
}

.header-center a {
  font-family: 'PoppinsSB';
  font-size: 14px;
  padding: 20px 50px;
  color: var(--L2_2);
  background-color: var(--P_2);
  text-transform: uppercase;
  border-radius: 4px;
}

.header-center img {
  margin-top: 104px;
}

.header-center .bgc-color-header .continue {
  background-color: var(--P_1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 17px;
}

.header-center .bgc-color-header .continue div {
  position: relative;
  top: 28px;
}

.header-center .bgc-color-header .continue div label {
  font-family: 'PoppinsM';
  font-size: 14px;
  color: #fff;
  margin-top: 30px;
}

.header-center .bgc-color-header .continue div select {
  height: 50px;
  width: 200px;
  border: 0;
  border-radius: 4px;
  color: var(--P_4);
  font-size: 14px;
  margin-bottom: 65px;
}

.header-center .bgc-color-header .continue div a {
  padding: 15px 70px;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--D1_1);
  position: relative;
  bottom: 20px;
}

.welcome div div div img {
  margin-top: 28px;
  margin-bottom: 100px;
}

.our {
  background-image: url(../imeges/Vector-Smart-Object-copy-7.png);
  background-repeat: no-repeat;
}

.our h2 {
  text-align: center;
  color: #fff;
  font-size: 33px;
  font-family: 'PoppinsM';
  padding-top: 40px;
  padding-bottom: 35px;
}

.our .cub {
  background-color: #fff;
  text-align: center;
}

.our .cub img {
  margin-top: 38px;
}

.our .cub h4 {
  color: var(--D3_4);
  font-family: 'PoppinsM';
  font-size: 17px;
}

.our .cub p {
  margin: 17px 45px 0px 45px;
  padding-bottom: 50px;
}

.our .roro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 74px 0 107px 0;
}

.our .roro div a {
  padding: 20px 88px;
  color: #fff;
  background-color: var(--D1_1);
  font-family: 'PoppinsM';
  font-size: 14px;
  margin: 54px auto 90px auto;
  border-radius: 5px;
}

.our .roro div a:hover {
  background-color: var(--P_2);
}

.hot-it-works h2 {
  text-align: center;
  font-size: 33px;
  font-family: 'PoppinsM';
  padding-top: 40px;
  padding-bottom: 35px;
}

.hot-it-works .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.hot-it-works .flex-container img .size {
  height: 65px;
  width: 60px;
}

.hot-it-works .flex-container p {
  text-align: center;
  font-family: 'PoppinsR';
  font-size: 13px;
}

.discounts {
  background-image: url(../imeges/rocket.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.discounts h2 {
  font-family: 'PoppinsM';
  font-size: 33px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  padding: 90px 0 40px 0;
  margin: 0;
}

.discounts p {
  font-family: 'PoppinsR';
  font-size: 18px;
  color: #fff;
  padding: 0;
  margin: 0 0 82px 0;
  text-align: center;
}

.discounts .bloks_in_bloks {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(202, 202, 202, 0.55);
          box-shadow: 0px 4px 30px 0px rgba(202, 202, 202, 0.55);
}

.discounts .bloks_in_bloks .bg-bloks {
  background-color: #fff;
  text-align: center;
  width: 29%;
}

.discounts .bloks_in_bloks .bg-bloks span {
  font-family: 'PoppinsR';
  font-size: 35px;
  color: var(--P_2);
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.discounts .bloks_in_bloks .bg-bloks p {
  font-family: 'PoppinsR';
  font-size: 15px;
  color: var(--D1_4);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.discounts .bloks_in_bloks .bg-bloks h5 {
  font-family: 'PoppinsSB';
  font-size: 17px;
  color: var(--D1_1);
  padding: 0;
  margin: 0;
}

.discounts .bloks_in_bloks .bg-bloks .bloks {
  margin-top: 75px;
}

.discounts .bloks_in_bloks .bg-bloks .bord-r {
  border-right: 2px solid #e1e1e7;
}

.discounts .bloks_in_bloks .bg-bloks .bord-r-1 {
  border-right: 2px solid #e1e1e7;
  padding-top: 75px;
  margin-top: 0px;
}

.discounts .bloks_in_bloks .bg-bloks-blue {
  background-color: var(--P_1);
  text-align: center;
}

.discounts .bloks_in_bloks .bg-bloks-blue .botder-line {
  border: dashed var(--D1_1) 3px;
  border-radius: 30px;
  margin: 25px 15px;
  position: relative;
}

.discounts .bloks_in_bloks .bg-bloks-blue .botder-line h3 {
  font-family: 'PoppinsSB';
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

.discounts .bloks_in_bloks .bg-bloks-blue .botder-line .larger {
  width: 365px;
}

.discounts .bloks_in_bloks .bg-bloks-blue .botder-line p {
  font-family: 'OpenSansI';
  font-size: 19px;
  margin: 50px 0 40px;
}

.discounts .bloks_in_bloks .bg-bloks-blue .botder-line .balloon {
  width: 130px;
  position: absolute;
  bottom: -7px;
  left: 350px;
}

.testimonials {
  text-align: center;
}

.testimonials .function h2 {
  font-family: 'PoppinsM';
  font-size: 33px;
  color: var(--D2_4);
  margin: 80px 0 50px;
}

.testimonials .function p {
  font-family: 'PoppinsL';
  font-size: 15px;
  margin: 20px 0 25px;
}

.testimonials .function h5 {
  font-family: 'PoppinsSB';
  font-size: 17px;
  color: var(--D1_1);
  margin: 0 0 15px;
}

.testimonials .function span {
  font-family: 'PoppinsL';
  font-size: 13px;
  color: var(--L1_4);
  padding-bottom: 70px;
}

.testimonials .function::before {
  content: "";
  width: 60px;
  height: 60px;
  border-top: 3px solid var(--P_1);
  border-right: 3px solid var(--P_1);
  margin-right: 60px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: relative;
  top: 215px;
  left: -35px;
}

.testimonials .function::after {
  content: "";
  width: 60px;
  height: 60px;
  border-top: 3px solid var(--P_1);
  border-right: 3px solid var(--P_1);
  margin-right: 60px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  bottom: 248px;
  right: -820px;
}

footer .footer {
  background-color: var(--P_1);
}

footer .footer hr {
  border: 1px solid #81d4fa;
  margin: 0;
  padding: 0;
}

footer .footer .top div {
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3%;
}

footer .footer .top div:nth-child(1) {
  padding-left: 0%;
}

footer .footer .top img {
  padding: 20px 0 20px 0;
}

footer .footer .top a {
  font-family: 'PoppinsSB';
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: right;
}

footer .footer .main h5 {
  padding: 50px 0 33px;
  margin: 0;
  font-family: 'PoppinsM';
  font-size: 17px;
  color: #ddf4fe;
}

footer .footer .main ul {
  margin-bottom: 40px;
}

footer .footer .main ul li {
  list-style-type: none;
  font-family: 'PoppinsR';
  font-size: 13px;
  color: #ddf4fe;
  padding-bottom: 15px;
}

footer .footer .bottom div:nth-child(1) p {
  color: #fff;
  padding: 35px 0;
}

footer .footer .bottom div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .bottom div:nth-child(2) img {
  width: 220px;
}

footer .footer .bottom div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .bottom div:nth-child(3) p {
  color: #fff;
  font-family: 'PoppinsM';
  font-size: 14px;
  padding-left: 10px;
}

footer .footer .bottom div:nth-child(3) p a {
  font-family: 'PoppinsR';
  font-size: 17px;
  color: #fff;
  font-weight: bold;
}

footer .footer .bottom div:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .bottom div:nth-child(4) p {
  color: #fff;
  font-family: 'PoppinsM';
  font-size: 14px;
  padding-left: 10px;
}

footer .footer .bottom div:nth-child(4) p a {
  font-family: 'PoppinsR';
  font-size: 17px;
  color: #fff;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */